_build/build.config.php
_build/build.properties.php
config.core.php
.idea
nbproject
_build/template/codemirror/lib
bower_components
node_modules
npm-debug.log
.sass-cache
assets/components/codemirror/cm/demo/fullscreen.html
